*-
.*.sw?
*.pyc
*.pyo
.DS_Store
v1/data/
*.html.py
*.so
build/
dist/
v1/v1.egg-info/
v1/v1/lib/generated_strings.py
*.ini
*.update

v1/v1/public/static/names.json
v1/v1/public/static/*.js
v1/v1/public/static/*.css
v1/v1/public/static/sprite*.png
v1/v1/public/static/*.gzip
v1/v1/public/static/js/lib/*.gzip

v1/v1/lib/mr_tools/_mr_tools.c
v1/v1/lib/db/_sorts.c 
v1/v1/lib/sgm.c 
v1/v1/lib/utils/_utils.c 
v1/v1/lib/wrapped.c
v1/v1/lib/utils.comment_tree_utils.c 


.vargrant/